body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-form {
  margin-bottom: 2rem;
  min-width: 95vw;
  margin: 2rem auto;

  // if we do want to "center" the form, can add the media queries from below here
}

.grid-container {
  --width: 95vw;
  --grid: calc(var(--width) / var(--size));
  text-align: center;
  padding-bottom: 2rem;

  @media (min-width: 50rem) {
    --width: 80vw;
  }
  
  @media (min-width: 100rem) {
    --width: 40vw;
  }

  // if orientation is landscape, grid size is based on viewport height rather than width
  @media (orientation: landscape) {
    --width: 75vh;
  }
}

.color-row {
  // default height for browsers that don't understand css variables
  height: 60px;
  width: 100vw;

  @supports (--css: variables) {
    height: var(--grid);
  }
}

.color-tile {
  // default height/width for browsers that don't understand css variables
  height: 60px;
  width: 60px;
  display: inline-block;
  text-align: left;

  @supports (--css: variables) {
    height: var(--grid);
    width: var(--grid);
  }
}

.u-tile-first-click {
  box-shadow: inset 0 0 0 2px white;  
}

.u-tile-correct {
  // need this for the pseudo element
  position: relative;

    &::after {
    content: "\2713";
    position: absolute;
    padding: 0.35rem;
    color: white;
  }
}

.winner-header {
  font-family: 'Roboto', sans-serif;
}
