.cmp-color-grid {
  --width: 95vw;
  --grid: calc(var(--width) / var(--size));
  --checkmark-circle-size: calc(var(--grid) / 5);
  --checkmark-size: calc(var(--checkmark-circle-size) / 1.25); // I have no idea why this is the magic number, I feel like it should be 2
  --checkmark-margin: calc(var(--checkmark-circle-size) / 5);

  text-align: center;
  margin-bottom: $spacing;

  @media (min-width: 50rem) {
    --width: 80vw;
  }
  
  @media (min-width: 100rem) {
    --width: 40vw;
  }

  // if orientation is landscape, grid size is based on viewport height rather than width
  @media (orientation: landscape) {
    --width: 75vh;
  }

  &__row {
    // default height for browsers that don't understand css variables
    height: 60px;
    width: 100vw;

    @supports (--css: variables) {
      height: var(--grid);
    }
  }

  &__tile {
    // default height/width for browsers that don't understand css variables
    height: 60px;
    width: 60px;
    display: inline-block;
    text-align: left;

    @supports (--css: variables) {
      height: var(--grid);
      width: var(--grid);
    }

    &--first-click {
      box-shadow: inset 0 0 0 2px white;  
    }

    &--correct {
      position: relative;

        &::after {
          content: "\2713"; // checkmark
          line-height: calc(var(--checkmark-circle-size) + 0.5);
          margin: var(--checkmark-margin);
          font-size: var(--checkmark-size);
          width: var(--checkmark-circle-size);
          height: var(--checkmark-circle-size);
          min-width: $min-checkmark-circle-size;
          min-height: $min-checkmark-circle-size;
          max-width: $max-checkmark-circle-size;
          max-height: $max-checkmark-circle-size;
          text-align: center;
          position: absolute;
          color: black;
          background: white;
          border-radius: 50%;
      }
    }

    // tooltip
    &:hover::before {
      content: attr(title);
      position: absolute;
      background-color: #000;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      bottom: 125%; /* Position the tooltip above the element */
      left: 50%; /* Center the tooltip horizontally */
      transform: translateX(-50%);
      opacity: 0.8;
      white-space: pre-line;
      z-index: 1; /* Ensure the tooltip appears above other elements */
    }
  }
}
