.cmp-color-form {
  min-width: 95vw;
  margin: $spacing auto;
  text-align: center;

  &__row {
    font-size: 0;
  }

  &__color-input {
    $color-input-width: 3rem;
    width: $color-input-width;
    height: $color-input-width;
    padding: 0;
    margin: 0.25rem;
    position: relative;
    box-shadow: 0px 8px 15px gainsboro; // halp this disappears in safari why
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: initial;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 1px solid gray;
    } 

    &:hover {
      opacity: 0.8;
    }
  }

  &__options {
    margin-top: 2.5rem;
  }

  &__difficulty-label {
    width: 100%; // for Firefox
  }

  &__difficulty {
    border: none;
  }

  &__color-mode {
    display: inline-block;
  }
}
