// --size is defined in board.mjs to be whatever the grid size is
// --blue is also defined in board.mjs...

.cmp-color-grid {
  --width: 95vw;
  --grid: calc(var(--width) / var(--size));
  --checkmark-circle-size: calc(var(--grid) / 5);
  --checkmark-size: calc(var(--checkmark-circle-size) / 1.25); // I have no idea why this is the magic number, I feel like it should be 2
  --checkmark-margin: calc(var(--checkmark-circle-size) / 5);
}
